<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>{{dictionary.dictionary_name}}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <h1>Your Dictioanry Content</h1>
        <p>
            Dictioanry name is: {{dictionary.dictionary_name}}
            <br>
            Translation from {{dictionary.source_language}} to {{dictionary.target_language}}
        </p>
        <br>
        <br>
        <table align="center" style="text-align: center;">
            <tr>
                <th>Word/Phrase</th>
                <th>Translation</th>
                <th>Action</th>
            </tr>
            {% for record in translations %}
            <tr>
                <td>{{record.keyword}}</td>
                <td>{{record.translation}}</td>
                <td>
                    <form method="post">
                        <input type="hidden" name="keyword" value="{{record.keyword}}">
                        {% csrf_token %}
                        <button type="submit" name="action" value="delete">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="100%">
                    <button onclick="showForm()" align="center">Add new</button>
                </td>
            </tr>
        </table>
        <dialog id="newTranslationDialog">
            <form method="post">
                {{ form }}
                {% csrf_token %}
                <button type="submit">Add</button>
                <button type="button" onclick="closeForm()">Close</button>
            </form>
        </dialog>

        <script>
            const dialog = document.getElementById("newTranslationDialog"); 
            
            function showForm() { 
              dialog.show(); 
            } 
            
            function closeForm() { 
              dialog.close(); 
            } 
            </script>
    </body>
</html>